.alert-red{background-color: red; width: 100% ; height:1rem;}
.alert-yellow{background-color: rgb(255, 193, 7); width: 100% ; height:1rem;}
.alert-green{background-color: green; width: 100% ; height:1rem;}

nav {flex-direction: column;
  height: 100vh;
  display: flex;}

